@model List<TestimonialViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Dashboard/Index">Ana Sayfa</a></li>
            <li class="breadcrumb-item active"><a href="/Testimonial/Index">Referanslar</a></li>
        </ol>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Referanslar</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped verticle-middle text-center">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Referans Adı</th>
                                    <th scope="col">Referans Ünvanı</th>
                                    @*<th scope="col">Sil</th>
                                    <th scope="col">Güncelle</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.TestimonialID</td>
                                        <td>@item.Name</td>
                                        <td>@item.Title</td>
                                        <td><a href="/Testimonial/DeleteTestimonial/@item.TestimonialID" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
                                        <td><a href="/Testimonial/UpdateTestimonial/@item.TestimonialID" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a href="/Testimonial/AddTestimonial/" class="btn mb-1 btn-rounded btn-outline-info col-12">Yeni Referans Girişi</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


